// В этом файле должны быть стили для БЭМ-блока text-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.text-box {

  $block-name:                &; // #{$block-name}__element

  &--wrapper {
    background: #fff;
    border: 1px solid $border-color;
    padding: 10px;
  }
}
