// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element
}

.header-top {
  $block-name:                &; // #{$block-name}__element

  border-bottom: 1px solid $border-color;

  &__inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: ($screen-xl - 1)) {
      height: 40px;
    }
  }

  &__item {

    &--nav {
      margin-right: auto;

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }

    &--social {
      margin-right: 20px;
    }

    &--entry {
      background-color: #2b2b2b;
      text-decoration: none;
      color: #fff;
      align-self: stretch;
      text-align: center;
      width: 133px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: #fff;
        margin-right: 10px;
      }

      span {

      }

      &:hover {
        background-color: $color-main;
      }
    }
  }
}

.header-main {

  .burger {
    display: none;

    @media (max-width: ($screen-lg - 1)) {
      display: inline-block;
    }
  }

  &__inner {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: ($screen-lg - 1)) {
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &__item {

    &--logo {
      min-width: 23%;
      margin-right: 30px;

      @media (max-width: ($screen-lg - 1)) {
        margin-right: auto;
      }

      img {
        margin-left: 1em;
      }
    }

    &--contacts {
      min-width: 20%;

      a {
        display: block;
      }

      @media (max-width: ($screen-xl - 1)) {

        min-width: auto;
        margin-right: 25px;

        .main-phone {
          font-size: 22px;
        }

        .call-link, p {
          font-size: 14px;
        }

        p {
          margin: 4px 0;
        }
      }

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }

    &--wt {
      min-width: 17%;

      @media (max-width: ($screen-xl - 1)) {

        min-width: auto;
        margin-right: 25px;

        .main-wt {
          font-size: 14px;
          padding-left: 34px;
          background-size: 23px 23px;
        }
      }

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }

    &--med {
      min-width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: ($screen-lg - 1)) {
        display: none;
      }
    }
  }
}

.header-med {
  display: block;
  font-size: 0;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;

  img {
    display: block;
    margin: auto;
  }

  &:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.header-btn {

  text-decoration: none;
  color: #000;
  padding: 20px;
  display: block;
  border-radius: 10px;

  @media (max-width: ($screen-xl - 1)) {
    padding: 10px;
  }


  &__inner {
    display: flex;
  }

  &__icon-wrap {

    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    .value {
      height: 20px;
      min-width: 22px;
      text-align: center;
      font-size: 10px;
      line-height: 19px;
      font-weight: 700;
      background-color: $color-main;
      color: #fff;
      padding: 2px 4px;
      border-radius: 8px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__content {
    h5 {
      margin: 0;
    }
  }

  &--favorit {

    @media (max-width: ($screen-xl - 1)) {

      .header-btn__icon-wrap {
        margin-right: 0;
      }

      .header-btn__content {
        display: none;
      }
    }

    @media (max-width: ($screen-lg - 1)) {
      margin-left: 20px;
    }
  }

  &--basket {
    @media (max-width: ($screen-lg - 1)) {

      .header-btn__icon-wrap {
        margin-right: 0;
      }

      .header-btn__content {
        display: none;
      }
    }
  }
}
