// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element
}

.header-top {
  $block-name:                &; // #{$block-name}__element

  border-bottom: 1px solid $border-color;

  &__inner {
    height: 80px;
    display: flex;
    align-items: center;
  }

  &__item {

    &--nav {
      margin-right: auto;
    }

    &--social {
      margin-right: 20px;
    }

    &--entry {
      background-color: #2b2b2b;
      text-decoration: none;
      color: #fff;
      align-self: stretch;
      text-align: center;
      width: 133px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: #fff;
        margin-right: 10px;
      }

      span {

      }

      &:hover {
        background-color: darken(#2b2b2b, 5%);
      }
    }
  }
}

.header-main {

  &__inner {
    height: 128px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  &__item {

    width: 15%;

    &--logo {
      min-width: 23%;
      margin-right: 30px;

      img {
        margin-left: 1em;
      }
    }

    &--contacts {
      min-width: 20%;

      a {
        display: block;
      }
    }

    &--wt {
      min-width: 20%;
    }
  }
}

.header-btn {

  text-decoration: none;
  color: #000;
  padding: 20px;
  display: block;
  border-radius: 10px;


  &__inner {
    display: flex;
  }

  &__icon-wrap {

    position: relative;
    width: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    .value {
      height: 20px;
      min-width: 22px;
      text-align: center;
      font-size: 10px;
      line-height: 19px;
      font-weight: 700;
      background-color: $color-main;
      color: #fff;
      padding: 2px 4px;
      border-radius: 8px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__content {
    h5 {
      margin: 0;
    }
  }
}
