// В этом файле должны быть стили для БЭМ-блока btn-icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn-icon {

  $block-name:                &; // #{$block-name}__element

  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: $color-main;
  color: #fff;
  text-decoration: none;

  svg {
    fill: #fff;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: darken($color-main, 10%);
    border-color: darken($color-main, 12%);
  }

  &--disabled,
  &:disabled {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
  }

  &--text {

    span {
      display: none;
    }

    @media (min-width: $screen-md) {
      width: auto;
      padding: 0 35px 0 40px;

      span {
        margin-right: 6px;
        display: block;
      }
    }

  }

}
