// В этом файле должны быть стили для БЭМ-блока catalog-sort, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-sort {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 30px;
  background: #efefef;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px;
  position: relative;
  z-index: 3;
  align-items: flex-end;

  @media (min-width: $screen-sm) {
    flex-wrap: nowrap;
  }

  &__viewer {
    margin-left: auto;
    margin-bottom: 15px;
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 15px;

    @media (max-width: ($screen-sm - 1)) {
      margin-right: 0;

      &:first-child {
        width: 100%;
      }

      .dropdown--sort {
        width: 100%;
      }
    }
  }

}
