// В этом файле должны быть стили для БЭМ-блока page-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-main {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include row;

    .sidebar {
      @include col();
      @include col(lg, 3);

      @media (max-width: ($screen-lg - 1)) {
        order: 2;
      }
    }

    .main {
      @include col();
      @include col(lg, 9);

      @media (max-width: ($screen-lg - 1)) {
        order: 1;
      }

      &__inner {
        padding-top: 20px;
        padding-bottom: 80px;
      }

      &__title {
        margin-top: 0;
        font-size: 24px;
      }
    }
  }

  &--no-sidebar {

    #{$block-name}__inner {

      .sidebar {
        width: 0;
        height: 0;
        overflow: hidden;
      }

      .main {
        @include col();
        @include col(lg, 12);
      }
    }
  }
}
