// В этом файле должны быть стили для БЭМ-блока dropdown, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$border-radius:               3px !default;

$transition-time:             0.3s !default;

.dropdown {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: inline-block;

  &__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    background-color: #fff;
    color: $text-color;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity $transition-time;

    &--up {
      top: auto;
      bottom: 100%;
    }

    &--right {
      left: auto;
      right: 0;
    }
  }



  &--open & {

    &__menu {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      width: auto;
    }
  }


  &--basket {

    &.dropdown--open {
      .dropdown__toggler {
        background: #fff;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
      }

      #{$block-name}__menu {
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px 0 10px 10px;
        padding: 20px;
        z-index: 2;
      }
    }
  }

  &--sort {

    #{$block-name}__name {
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      margin-bottom: 4px;
    }

    #{$block-name}__toggler {
      border: none;
      font-size: 16px;
      font-weight: 600;
    }

    #{$block-name}__menu {
      min-width: auto;
      padding: 0;
      left: 0;
      right: 0;
      font-size: 16px;
      font-weight: 600;

      .menu__link {
        padding: 0.3em 0.7em;
      }
    }
  }
}
