// В этом файле должны быть стили для БЭМ-блока brand-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.brand-item {

  $block-name:                &; // #{$block-name}__element

  border: 1px solid $border-color;
  background: #fff;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    width: auto !important;
    max-width:  160px;
    height: auto;
    padding: 30px;
  }

  @media (min-width: $screen-md) {
    height: 130px;

    #{$block-name}__logo {
      padding: 30px;
    }
  }
  @media (min-width: $screen-lg) {
    height: 170px;

    #{$block-name}__logo {
      padding: 30px;
    }
  }
  @media (min-width: $screen-xl) {
    height: 220px;

    #{$block-name}__logo {
      padding: 20px;
    }
  }
}
