// В этом файле должны быть стили для БЭМ-блока catalog-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 20px;
  display: none;

  &--show {
    display: block;
  }


  &__form {

    .field-checkbox {
      padding: 20px;
    }

    .field-checkbox__input-wrap {
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
    }
  }

  &__wrap {

  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: ($screen-xl - 1)) {
      font-size: 14px;
    }
  }

  &__item {
    position: relative;
  }

  &__pseudolink {
    display: block;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding: 0.8em 20px 0.8em 20px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    @media (max-width: ($screen-xl - 1)) {
      font-size: 14px;
    }

    svg {
      top: 0;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      right: 8px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      transform: translateY(-70%) rotate(45deg);
      transition: transform 0.3s, border-color 0.3s, -webkit-transform 0.3s;
    }

    #{$block-name}__item--show-child & {
      &:after {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-main;
    }
  }

  &__sublist-wrapper {

    z-index: 1;
    border-bottom: 1px solid transparent;

    #{$block-name}__item--show-child > & {
      display: block;
      border-color: $border-color;
    }

    &.lvl-2 {
      display: none;
      z-index: 5;
      margin: 0 20px;
      background: #fff;
      border: 1px solid $border-color;

      @media (min-width: $screen-xl) {
        position: absolute;
        margin: 0;
        left: 100%;
        top: -20px;
        min-width: 100%;
        padding: 20px;
      }

      &:hover {
        display: block;
      }
    }
  }

  .catalog-nav__link.lvl-2 {

    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      right: 8px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      transform: translateY(-70%) rotate(45deg);
      transition: transform 0.3s, border-color 0.3s;

      @media (min-width: $screen-xl) {
        transform: translateY(-70%) rotate(-45deg);
      }
    }

    &:hover ~ {

      .catalog-nav__sublist-wrapper.lvl-2 {
        display: block;
      }
    }
  }

  // переключатель
  &__toggler {
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 0;
    background: none;
    border: none;
    background: #af232f;
    color: #fff;
    border: none;
    height: 65px;
    padding: 15px 20px;
    min-width: 100%;
    font-size: 16px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 15px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: translateY(-70%) rotate(45deg);
      transition: transform 0.3s, border-color 0.3s, -webkit-transform 0.3s;
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($color-main, 10%);
      border-color: darken($color-main, 12%);
      outline: none;
    }

    &.open {
      &:after {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }
}
